[Unit]
Description=BMON gunicorn daemon
Requires=bmon.socket
After=network.target

[Service]
User={{ username.stdout }}
Group=www-data
WorkingDirectory={{ install_dir }}
ExecStart={{ venv_dir }}/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/run/bmon.sock \
          --timeout 60 \
          bmon.wsgi:application
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
