
Here is information specific to this installation of BMON:

The storage key is needed by applications that need to storage
sensor readings into this BMON server.  The Base URL is also needed
for those applications.

Storage Key: {{ store_key.stdout }}

URL for LoRaWAN-to-BMON Integration: https://{{ bmon_domain }}/readingdb/reading/store-things/

Super User for BMON application
Name:  {{ superuser_name }}
Password:  {{ superuser_password }}

